@model IEnumerable<DbMadness.Models.RegisteredGoblin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavIcecreamFlavor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Liar)
            </th>
            <th>Buttons :D</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavIcecreamFlavor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Liar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GoblinId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GoblinId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GoblinId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
