@model DbMadness.Models.Favorite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Favorite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalNavigation.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorNavigation.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoblinNavigation)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Goblin != 1)
            {
                @Html.DisplayFor(model => model.GoblinNavigation.FirstName)<a></a>
                @Html.DisplayFor(model => model.GoblinNavigation.LastName)
                <a>&emsp;</a><a asp-controller="RegisteredGoblins" asp-action="Details" asp-route-id="@Model?.Goblin">Goblin Details</a> 
            }   
            else
            {
                <a>Not Assigned</a>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberNavigation.Value)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
